<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.wenzhencn.cmsseed.test.mapper.TestMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.wenzhencn.cmsseed.test.entity.TestPO">
        <id column="id" property="id" />
        <result column="na" property="na" />
        <result column="gt" property="gt" />
        <result column="wd_uh" property="wdUh" />
        <result column="fw_yrh" property="fwYrh" />
    </resultMap>

    <!-- 所有结果列 -->
    <sql id="allColumnList">
        id, na, gt, wd_uh, fw_yrh
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
na, gt, wd_uh, fw_yrh
    </sql>

    <!-- 通用赋值结果列 -->
    <sql id="baseValueList">
            #{na}
                ,
            #{gt}
                ,
            #{wdUh}
                ,
            #{fwYrh}
    </sql>

    <sql id="pkWhereClause">
        WHERE             id = #{pk}

    </sql>

    <sql id="baseWhereClause">
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="na != null">
                AND na = #{na}
            </if>
            <if test="gt != null">
                AND gt = #{gt}
            </if>
            <if test="wdUh != null">
                AND wd_uh = #{wdUh}
            </if>
            <if test="fwYrh != null">
                AND fw_yrh = #{fwYrh}
            </if>
        </trim>
    </sql>

    <sql id="selectiveSetClause">
        <set>
            <if test="na != null">
                na=#{na},
            </if>
            <if test="gt != null">
                gt=#{gt},
            </if>
            <if test="wdUh != null">
                wd_uh=#{wdUh},
            </if>
            <if test="fwYrh != null">
                fw_yrh=#{fwYrh},
            </if>
        </set>
    </sql>

    <insert id="insert" parameterType="Object">
        INSERT INTO b_test (
            <include refid="baseColumnList" />
        ) VALUES (
            <include refid="baseValueList" />
        )
    </insert>

    <insert id="batchInsert">
        INSERT INTO b_test (
            <include refid="baseColumnList" />
        ) VALUES
        <foreach collection="objs" item="obj" separator=",">(<include refid="baseValueList" />)</foreach>
    </insert>

    <delete id="deleteByPk">
        DELETE FROM b_test
        <include refid="pkWhereClause" />
    </delete>

    <delete id="deleteByPks">
        DELETE FROM b_test
        WHERE             id IN <foreach collection="pks" item="pk" open="(" close=")" separator=",">#{pk}</foreach>

    </delete>

    <update id="updateByPk">
        UPDATE b_test
        <set>
                na = #{na}
                    ,
                gt = #{gt}
                    ,
                wd_uh = #{wdUh}
                    ,
                fw_yrh = #{fwYrh}
        </set>
        <include refid="pkWhereClause" />
    </update>

    <update id="updateByPkSelective" parameterType="Object">
        UPDATE b_test
        <include refid="selectiveSetClause" />
        <include refid="pkWhereClause" />
    </update>

    <select id="selectByPk" resultMap="baseResultMap">
        SELECT
        <include refid="allColumnList" />
        FROM b_test
        <include refid="pkWhereClause" />
    </select>

    <select id="selectList" parameterType="Object" resultMap="baseResultMap">
        SELECT
        <include refid="allColumnList" />
        FROM b_test
        <include refid="baseWhereClause" />
    </select>

    <!-- 以上为生成工具生成, 请勿修改 -->

</mapper>