<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Develop" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
              <a routerLink="/dict">
                  <i nz-icon nzType="read"></i>
                  <span>字典管理</span>
              </a>
          </li>
          <li nz-menu-item nzMatchRouter>
              <a routerLink="/group">
                  <i nz-icon nzType="team"></i>
                  <span>用户组管理</span>
              </a>
          </li>
          <li nz-menu-item nzMatchRouter>
              <a routerLink="/role">
                  <i nz-icon nzType="smile"></i>
                  <span>角色管理</span>
              </a>
          </li>
          <li nz-menu-item nzMatchRouter>
              <a routerLink="/permission">
                  <i nz-icon nzType="lock"></i>
                  <span>权限管理</span>
              </a>
          </li>
          <li nz-menu-item nzMatchRouter>
              <a routerLink="/generator">
                  <i nz-icon nzType="code"></i>
                  <span>代码生成</span>
              </a>
          </li>
          <li nz-menu-item nzMatchRouter>
              <a routerLink="/test">
                  <i nz-icon nzType="code"></i>
                  <span>测试</span>
              </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/region">
                <i nz-icon nzType="code"></i>
                <span>地区管理</span>
            </a>
        </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
