<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rooomy.cdsoftware.toolplatform.system.mapper.EntryMapper">
	<resultMap id="baseResultMap" type="cn.rooomy.cdsoftware.toolplatform.system.entity.EntryDO">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="resource_id" jdbcType="INTEGER" property="resourceId" />
		<result column="resource_object_id" jdbcType="BIGINT" property="resourceObjectId" />
		<result column="mask" jdbcType="TINYINT" property="mask" />
		<result column="level" jdbcType="TINYINT" property="level" />
		<result column="target_type" jdbcType="TINYINT" property="targetType" />
		<result column="target_id" jdbcType="BIGINT" property="targetId" />
	</resultMap>
	
	<!-- 所有列 -->
	<sql id="allColumnList">
		id, resource_id, resource_object_id, mask, `level`, target_type, target_id
	</sql>
	
	<!-- 基本列Where条件 -->
	<sql id="baseWhereClause">
        <trim prefix="WHERE" prefixOverrides="AND">
			<if test="resourceId != null">
				AND resource_id=#{resourceId}
			</if>
			<if test="resourceObjectId != null">
				AND resource_object_id=#{resourceObjectId}
			</if>
			<if test="mask != null">
				AND mask=#{mask}
			</if>
			<if test="level != null">
				AND `level`=#{level}
			</if>
			<if test="targetType != null">
				AND target_type=#{targetType}
			</if>
			<if test="targetId != null">
				AND target_id=#{targetId}
			</if>
		</trim>
    </sql>
    
    <!-- 选择性更新Set -->
    <sql id="selectiveSetClause">
        <set>
			<if test="resourceId != null">
                resource_id=#{resourceId}, 
            </if>
			<if test="resourceObjectId != null">
                resource_object_id=#{resourceObjectId}, 
            </if>
			<if test="mask != null">
                mask=#{mask}, 
            </if>
			<if test="level != null">
                `level`=#{level}, 
            </if>
			<if test="targetType != null">
                target_type=#{targetType}, 
            </if>
			<if test="targetId != null">
                target_id=#{targetId}
            </if>
		</set>
    </sql>
    
    <!-- 新增 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="Object">
        INSERT INTO sys_entry (
			<include refid="allColumnList" />
        )
        VALUES (
        	#{id}, #{resourceId}, #{resourceObjectId}, #{mask}, #{level}, #{targetType}, #{targetId}
        )
    </insert>
    
    
    <!-- 批量新增 -->
    <insert id="multiInsert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_entry (
		<include refid="allColumnList" />
        )
        VALUES
    	<foreach collection="list" item="itm" separator=",">
    		(#{itm.id}, #{itm.resourceId}, #{itm.resourceObjectId}, #{itm.mask}, #{itm.level}, #{itm.targetType}, #{itm.targetId})
    	</foreach>
    </insert>
    
    <!-- 删除 -->
    <delete id="delete">
        DELETE FROM sys_entry
        WHERE id = #{id}
    </delete>
    
    <!-- 批量删除 -->
    <delete id="multiDelete">
    	DELETE FROM sys_entry
        WHERE id IN
        <foreach collection="list" item="itm" open="(" close=")" separator=",">
    		#{itm}
    	</foreach>
    </delete>
    
    <!-- 更新 -->
    <update id="update" parameterType="Object">
        UPDATE sys_entry SET
			resource_id=#{resourceId}, 
			resource_object_id=#{resourceObjectId}, 
			mask=#{mask}, 
			`level`=#{level}, 
			target_type=#{targetType}, 
			target_id=#{targetId}
        WHERE id = #{id}
    </update>
    
    <!-- 批量更新 -->
    <update id="multiUpdate">
    	<foreach collection="list" item="itm" separator=";">
    		UPDATE sys_entry SET
				resource_id=#{itm.resourceId}, 
				resource_object_id=#{itm.resourceObjectId}, 
				mask=#{itm.mask}, 
				`level`=#{itm.level}, 
				target_type=#{itm.targetType}, 
				target_id=#{itm.targetId}
	        WHERE id = #{itm.id}
    	</foreach>
    </update>
    
    <!-- 选择更新 -->
    <update id="updateSelective">
        UPDATE sys_entry
        <include refid="selectiveSetClause" />
        WHERE id = #{id}
    </update>
    
    <!--批量选择更新-->
    <update id="multiUpdateSelective">
    	<foreach collection="list" item="itm" separator=";">
    		UPDATE sys_entry
	        <set>
				<if test="itm.resourceId != null">
	                resource_id=#{itm.resourceId}, 
	            </if>
				<if test="itm.resourceObjectId != null">
	                resource_object_id=#{itm.resourceObjectId}, 
	            </if>
				<if test="itm.mask != null">
	                mask=#{itm.mask}, 
	            </if>
				<if test="itm.level != null">
	                `level`=#{itm.level}, 
	            </if>
				<if test="itm.targetType != null">
	                target_type=#{itm.targetType}, 
	            </if>
				<if test="itm.targetId != null">
	                target_id=#{itm.targetId}
	            </if>
			</set>
	        WHERE id = #{itm.id}
    	</foreach>
    </update>
    
    <!-- 根据非主键字段查询条件计数 -->
    <select id="count" parameterType="Object">
    	SELECT COUNT(*) FROM sys_entry
    	<include refid="baseWhereClause" />
    </select>
    
    <!-- 根据主键查询 -->
    <select id="select" resultMap="baseResultMap">
        SELECT
        <include refid="allColumnList" />
        FROM sys_entry
        WHERE id = #{id}
    </select>
    
    <!-- 根据对象查询列表 -->
    <select id="selectList" parameterType="Object" resultMap="baseResultMap">
    	SELECT
    	<include refid="allColumnList" />
    	FROM sys_entry
    	<include refid="baseWhereClause" />
    </select>
    
    <!-- 以上为生成工具生成,支持基础方法,切勿修改 -->
    
    <resultMap id="entryModelMap" type="cn.rooomy.cdsoftware.toolplatform.system.model.Entry">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="resource_id" jdbcType="INTEGER" property="resourceId" />
		<result column="resource_code" jdbcType="VARCHAR" property="resourceCode" />
		<result column="resource_object_id" jdbcType="BIGINT" property="resourceObjectId" />
		<result column="mask" jdbcType="TINYINT" property="mask" />
		<result column="level" jdbcType="TINYINT" property="level" />
		<result column="target_type" jdbcType="TINYINT" property="targetType" />
		<result column="target_id" jdbcType="BIGINT" property="targetId" />
	</resultMap>
    
    <select id="selectByTarget" resultMap="entryModelMap">
    	SELECT
        	e.id, e.resource_id, e.resource_object_id, e.mask, e.`level`, e.target_type, e.target_id, r.`code` AS resource_code
        FROM sys_entry e
        LEFT JOIN sys_resource r ON r.id = e.resource_id
        WHERE e.target_type = #{targetType} AND e.target_id = #{targetId}
    </select>
    
    <select id="selectByTargets" resultMap="entryModelMap">
    	SELECT
        	e.id, e.resource_id, e.resource_object_id, e.mask, e.`level`, e.target_type, e.target_id, r.`code` AS resource_code
        FROM sys_entry e
        LEFT JOIN sys_resource r ON r.id = e.resource_id
        WHERE e.target_type = #{targetType} AND e.target_id IN 
        <foreach collection="targetIds" item="targetId" open="(" close=")" separator=",">#{targetId}</foreach>
    </select>
    
    <select id="selectByUserFromGroups" resultMap="entryModelMap">
    	SELECT 
			e.id, e.resource_id, e.resource_object_id, e.mask, e.`level`, e.target_type, e.target_id, r.`code` AS resource_code
		FROM sys_r_user_group ug
		INNER JOIN sys_entry e ON ug.user_id = #{userId} AND e.target_type = 2 AND e.target_id = ug.group_id
		LEFT JOIN sys_resource r ON r.id = e.resource_id
    </select>
    
    <delete id="deleteByResource">
    	DELETE FROM sys_entry
        WHERE resource_id = #{resourceId} AND resource_object_id = #{resourceObjectId}
    </delete>
    
    <delete id="deleteByTarget">
    	DELETE FROM sys_entry
        WHERE target_type = #{targetType} AND target_id = #{targetId}
    </delete>
    
    <select id="countByTarget" resultType="Integer">
    	SELECT COUNT(1) FROM sys_entry WHERE target_type = #{targetType} AND target_id = #{targetId}
    </select>
    
</mapper>