<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.wenzhencn.cmsseed.system.mapper.GroupMapper">
	<resultMap id="baseResultMap" type="com.github.wenzhencn.cmsseed.system.entity.GroupDO">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="description" jdbcType="VARCHAR" property="description" />
	</resultMap>
	
	<!-- 所有列 -->
	<sql id="allColumnList">
		id, `name`, description
	</sql>
	
	<!-- 基本列Where条件 -->
	<sql id="baseWhereClause">
        <trim prefix="WHERE" prefixOverrides="AND">
			<if test="name != null and name != ''">
				AND `name`=#{name}
			</if>
			<if test="description != null and description != ''">
				AND description=#{description}
			</if>
		</trim>
    </sql>
    
    <!-- 选择性更新Set -->
    <sql id="selectiveSetClause">
        <set>
			<if test="name != null and name != ''">
                `name`=#{name}, 
            </if>
			<if test="description != null and description != ''">
                description=#{description}
            </if>
		</set>
    </sql>
    
    <!-- 新增 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="Object">
        INSERT INTO sys_group (
			<include refid="allColumnList" />
        )
        VALUES (
        	#{id}, #{name}, #{description}
        )
    </insert>
    
    
    <!-- 批量新增 -->
    <insert id="multiInsert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_group (
		<include refid="allColumnList" />
        )
        VALUES
    	<foreach collection="list" item="itm" separator=",">
    		(#{itm.id}, #{itm.name}, #{itm.description})
    	</foreach>
    </insert>
    
    <!-- 删除 -->
    <delete id="delete">
        DELETE FROM sys_group
        WHERE id = #{id}
    </delete>
    
    <!-- 批量删除 -->
    <delete id="multiDelete">
    	DELETE FROM sys_group
        WHERE id IN
        <foreach collection="list" item="itm" open="(" close=")" separator=",">
    		#{itm}
    	</foreach>
    </delete>
    
    <!-- 更新 -->
    <update id="update" parameterType="Object">
        UPDATE sys_group SET
			`name`=#{name}, 
			description=#{description}
        WHERE id = #{id}
    </update>
    
    <!-- 批量更新 -->
    <update id="multiUpdate">
    	<foreach collection="list" item="itm" separator=";">
    		UPDATE sys_group SET
				`name`=#{itm.name}, 
				description=#{itm.description}
	        WHERE id = #{itm.id}
    	</foreach>
    </update>
    
    <!-- 选择更新 -->
    <update id="updateSelective">
        UPDATE sys_group
        <include refid="selectiveSetClause" />
        WHERE id = #{id}
    </update>
    
    <!--批量选择更新-->
    <update id="multiUpdateSelective">
    	<foreach collection="list" item="itm" separator=";">
    		UPDATE sys_group
	        <set>
				<if test="itm.name != null and itm.name != ''">
	                `name`=#{itm.name}, 
	            </if>
				<if test="itm.description != null and itm.description != ''">
	                description=#{itm.description}
	            </if>
			</set>
	        WHERE id = #{itm.id}
    	</foreach>
    </update>
    
    <!-- 根据非主键字段查询条件计数 -->
    <select id="count" parameterType="Object">
    	SELECT COUNT(*) FROM sys_group
    	<include refid="baseWhereClause" />
    </select>
    
    <!-- 根据主键查询 -->
    <select id="select" resultMap="baseResultMap">
        SELECT
        <include refid="allColumnList" />
        FROM sys_group
        WHERE id = #{id}
    </select>
    
    <!-- 根据对象查询列表 -->
    <select id="selectList" parameterType="Object" resultMap="baseResultMap">
    	SELECT
    	<include refid="allColumnList" />
    	FROM sys_group
    	<include refid="baseWhereClause" />
    </select>
    
    <!-- 以上为生成工具生成,支持基础方法,切勿修改 -->
    
</mapper>